body {
    font-family: 'Irish Grover', cursive;
    background: #d2eeff;
}

.h1{
    text-align: center;
    font-size: 70px;
    color: #a655e2;
}

.img{
    border-radius: 10px;
}

#egg1{
    width: 120px;
    position: absolute;
    top: 120px;
    left: 60px;
    transform: rotate(-15deg);
}

#egg2{
    width: 140px;
    position: absolute;
    bottom: 180px;
    left: 470px;
    transform: rotate(15deg);
}

#egg3{
    width: 100px;
    position: absolute;
    top: 150px;
    right: 520px;
    transform: rotate(-5deg);
}

#egg4{
    width: 140px;
    position: absolute;
    bottom: 50px;
    right: 30px;
    transform: rotate(-10deg);
}

#eggText1{
    margin-top: 25px;
    margin-bottom: 7px;
    color: #f06eaa;
    font-size: 40px;
}

#eggText2{
    margin-top: 25px;
    margin-bottom: 7px;
    color: #0072bc ;
    font-size: 40px;
}

#eggText3{
    margin-top: 25px;
    margin-bottom: 7px;
    color: #83e487;
    font-size: 40px;
}

.eggButton{
    color: #99d2f6;
    font-size: 30px;
    text-decoration: none;
}

.game{
    margin: auto;
    background: white;
    color: #a6d6ec;
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    position: static;
}

#gamegrid{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}